{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block meta %}
    {{ super() }}
    <meta name="description" content="Covid - 19 Animation Tool. Use this tool to generate covid-19 related animated graphs. A variety of animated graphs are possible, such as: Total number of cases vs Days, Total Recoveries/Deaths vs Days, New Cases vs Total Number of case and so on. Generate graphs and analyze the data yourself without depending on news sources!">
{% endblock %}

    {% block app_content %}
        <br>
        <center>
            <h1>Generate an Animation<sub class="beta-subscript">(Beta)</sub></h1>
            <br>
    	</center>
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    {{ wtf.quick_form(form) }}
                    <div id="spinner_ctrl" style="display: none;">
                        
                        <span class="fa-2x">
                            <i class="fas fa-cog fa-spin"></i>     
                        </span>
                        <span class="gen-text">Generating Animation...</span>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
    {% endblock %}