{% extends 'bootstrap/base.html' %}

{% import "bootstrap/google.html" as google %}

<!-- {% block meta %}
    <meta name="viewport" content="width=device-width , initial-scale=1" />
{% endblock %}} -->


{% block head %}
    {{ super() }}
   
    <link rel="shortcut icon" href="{{ url_for('static', filename='res/favicon.ico') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% if render_id=='iphone' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/date-width-fix.css') }}">
    {% endif %}

    
{% endblock %}
{% block scripts %}
    {{ super() }}
    

    {{ google.uanalytics('UA-164119540-1') }}
    
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <script src="https://kit.fontawesome.com/c3c7f0ea77.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% if render_id=='desktop' %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/tail.select-light-feather.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/tail.select.min.js') }}"></script>
    
    <!-- personal css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(){
                tail.select("#multi", {
    animate: false,              // [0.3.0]      Boolean
    classNames: "set_width",           // [0.2.0]      Boolean, String, Array, null
    csvOutput: false,           // [0.3.4]      Boolean
    csvSeparator: ",",          // [0.3.4]      String
    descriptions: false,        // [0.3.0]      Boolean
    deselect: false,            // [0.3.0]      Boolean
    disabled: false,            // [0.5.0]      Boolean
    height: 350,                // [0.2.0]      Integer, null
    hideDisabled: false,        // [0.3.0]      Boolean
    hideSelected: false,        // [0.3.0]      Boolean
    items: {},                  // [0.3.0]      Object
    locale: "en",               // [0.5.0]      String
    linguisticRules: {          // [0.5.9]      Object
        "е": "ё",
        "a": "ä",
        "o": "ö",
        "u": "ü",
        "ss": "ß"
    },
    multiple: true,            // [0.2.0]      Boolean
    multiLimit: Infinity,       // [0.3.0]      Integer, Infinity
    multiPinSelected: false,    // [0.5.0]      Boolean
    multiContainer: false,      // [0.3.0]      Boolean, String
    multiShowCount: true,       // [0.3.0]      Boolean
    multiShowLimit: false,      // [0.5.0]      Boolean
    multiSelectAll: false,      // [0.4.0]      Boolean
    multiSelectGroup: true,     // [0.4.0]      Boolean
    openAbove: null,            // [0.3.0]      Boolean, null
    placeholder: "Please select one or more countries.",          // [0.2.0]      String, null
    search: true,              // [0.3.0]      Boolean
    searchConfig: [             // [0.5.13]     Array
        "text", "value"
    ],
    searchDisabled: false,       // [0.5.5]      Boolean
    searchFocus: true,          // [0.3.0]      Boolean
    searchMarked: false,         // [0.3.0]      Boolean
    searchMinLength: 1,         // [0.5.13]     Integer
    sortItems: false,           // [0.3.0]      String, Function, false
    sortGroups: false,          // [0.3.0]      String, Function, false
    sourceBind: false,          // [0.5.0]      Boolean
    sourceHide: true,           // [0.5.0]      Boolean
    startOpen: false,           // [0.3.0]      Boolean
    stayOpen: false,            // [0.3.0]      Boolean
    width: null,                // [0.2.0]      Integer, String, null
    cbComplete: undefined,      // [0.5.0]      Function
    cbEmpty: undefined,         // [0.5.0]      Function
    cbLoopItem: undefined,      // [0.4.0]      Function
    cbLoopGroup: undefined      // [0.4.0]      Function
});
            });
    </script>
    {% endif %}


    <script type="text/javascript">
        function myFunction() {
  var x = document.getElementById("spinner_ctrl");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
    </script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.3.js"></script> -->
   
{% endblock %}
{% block title %}
    {% if title %}{{ title }} - Raj Covid-19 Grapher{% else %}Welcome to Raj Covid-19 Grapher{% endif %}
{% endblock %}

{% block navbar %}
    <!-- <div class="container"> -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        Raj Covid-19 Grapher                    
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if page == 'index' %}
                            <li class="nav-item active"><a href="{{ url_for('index') }}">Graph</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ url_for('index') }}">Graph</a></li>
                        {% endif %}
                        {% if page == 'animation' %}
                            <li class="nav-item active"><a href="{{ url_for('animation') }}">Animations</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ url_for('animation') }}">Animations</a></li>
                        {% endif %}
                        {% if page == 'about' %}
                            <li class="nav-item active"><a href="{{ url_for('about') }}">About</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
                        {% endif %}
                        {% if page == 'contact' %}
                            <li class="nav-item active"><a href="{{ url_for('contact') }}">Contact</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <!-- </div> -->
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}

        {% block app_content %}{% endblock %}
    </div>
    <br>
    <br>
    <footer class="footer_style">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row text-center">
            <div class="col-md-4 smed">
                <!-- <br> -->
                <a href="https://www.instagram.com/aniansh/" target="_blank"><i class="fab fa-instagram-square insta"></i></a>
                &emsp;
                <a href="https://www.facebook.com/aniansh" target="_blank"><i class="fab fa-facebook-square fb"></i></a>
                &emsp;
                <a href="mailto:aniansh@yahoo.com" target="_blank"><i class="fas fa-envelope-square mail"></i></a>

            </div>
            <div class="col-md-4">
                <h5><a href="{{ url_for('about') }}">Credits & Sources</a></h5>
                <h5><a href="{{ url_for('contact') }}">Report a bug</a></h5>
                <h5>Copyright© 2020 Aniansh Raj Singh</h>
            </div>
            <div class="col-md-4">
                <a class="" href="{{ url_for('index') }}"><img src="static/res/brand_icon.png" height=64 width=64 alt="raj-covid=19-grapher-logo"></a>
            </div>
        </div>
        <br>
    </footer>

{% endblock %}